PORT=5000
MONGO_URI=mongodb://localhost:27017/medecos_db
JWT_SECRET=your_jwt_secret_key_here

# ABDM Gateway Settings
ABDM_CLIENT_ID=your_client_id_from_email
ABDM_CLIENT_SECRET=your_client_secret_from_email
# URL of your exposed local server (e.g., https://your-localtunnel.loca.lt)
ABDM_WEBHOOK_URL=https://your-localtunnel-url.loca.lt
